* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 24px;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.headd {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 13%;
}
ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

a {
  text-decoration: none;
  color: black;
}
.mood {
  display: flex;
  gap: 50px;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  gap: 40px;
}
.carts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.typ {
  width: 80%;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.type-quiz1 {
  padding: 12px 63px;
  background-color: rgb(91, 91, 225);
  border: 1 solid black;
}

.type-quiz2 {
  padding: 12px 36px;
  background-color: rgb(210, 77, 77);
  border: 1 solid black;
}

.type-quiz3 {
  padding: 12px 77px;
  background-color: rgb(208, 208, 45);
  border: 1 solid black;
}
.type-quiz1 a,
.type-quiz2 a,
.type-quiz3 a {
  color: white;
}
.type-quiz1:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.type-quiz2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.type-quiz3:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.easy {
  background-color: rgb(54, 199, 54);
}
.moyen {
  background-color: yellow;
}
.hard {
  background-color: red;
}
.dts {
  display: flex;
  gap: 24px;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto;
}
.carts-categorie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 48px auto;
  row-gap: 48px;
  align-items: center;
  column-gap: 24px;
}
.cart-categorie {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 64px 36px;
}

.categorie1 {
  background-color: #80e4e2;
}
.categorie2 {
  background-color: #e4e280;
}
.categorie3 {
  background-color: #f8a6ec;
}
.categorie4 {
  background-color: #d32629;
}
.categorie5 {
  background-color: #99986d;
}
.categorie6 {
  background-color: #6eca54;
}
.qat-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.play-qat {
  padding: 16px 48px;
  background-color: aliceblue;
  border: 1px solid black;
}
.b-qat1:hover {
  background-color: #80e4e2;
}
.b-qat2:hover {
  background-color: #e4e280;
}
.b-qat3:hover {
  background-color: #f8a6ec;
}
.b-qat4:hover {
  background-color: #d32629;
}
.b-qat5:hover {
  background-color: #99986d;
}
.b-qat6:hover {
  background-color: #6eca54;
}
body {
  background-image: url(img/pexels-pixelcop-2680270.jpg);
}
.section4 {
  margin: 100px auto;
}
.tf {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.status {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.qst-number {
  background-color: #80e4e2;
  padding: 12px;
  border-radius: 6px;
}
.crono {
  background-color: #f33506;
  padding: 12px 16px;
  border-radius: 50px;
}
.score {
  background-color: #18e672;
  padding: 12px;
  border-radius: 6px;
}
.question {
  padding: 24px;
  background-color: #e4e280;
}
.answers {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.falsee {
  padding: 16px 48px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
}
.truee {
  padding: 16px 48px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
}
.truee:hover {
  background-color: #6eca54;
  cursor: pointer;
  scale: 1.1;
}

.falsee:hover {
  background-color: #d32629;
  cursor: pointer;
  scale: 1.1;
}
.expline {
  padding: 24px;
  background-color: #f7f6ef;
  border-radius: 8px;
}

.full-answers {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.enter {
  border-radius: 8px;
  padding: 16px 24px;
}
.enter-answer {
  padding: 36px 48px;
}
.qcms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 24px;
  column-gap: 24px;
}
.a,
.b,
.c,
.d {
  padding: 24px 56px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
}
.a:hover {
  background-color: #e4e280;
  cursor: pointer;
  scale: 1.1;
}
.b:hover {
  background-color: #d32629;
  cursor: pointer;
  scale: 1.1;
}
.c:hover {
  background-color: #80e4e2;
  cursor: pointer;
  scale: 1.1;
}
.d:hover {
  background-color: #6eca54;
  cursor: pointer;
  scale: 1.1;
}
